
.regUser{
   display:inline-flex;
   margin-top:25px;
   margin-left:45px;
   box-shadow: 5px 5px 20px gray;
   width: 600px;
   border-radius:20px;
}
.regUser-img{
    height:250px;
    width: 280px;
}
.userDetails{
    margin-left:25px;
    margin-top:10px;
}
.userDetails button{
    margin-top:50px;
    margin-left: 200px;
}