
.regUser{
   display:inline-flex;
   margin-top:25px;
   margin-left:50px;
   box-shadow: 5px 5px 20px gray;
   width: 550px;
   border-radius:20px;
}
.regUser-img{
    height:150px;
    width: 200px;
}
.userDetails{
    margin-left:25px;
    margin-top:10px;
}
.userDetails button{
    margin-top:25px;
    margin-left: 220px;
}