.register-container img{
    height: 80px;
    width: 100px;
    position: relative;
    left: 650px;
}
.registration-form{
    margin-top: 20px;
    position: relative;
    left: 450px;
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 40px gray;
}
.registration-form input{
    background-color:transparent;
    color: black;
    margin-left: 45px;
    width: 400px;
    height: 50px;
    border: 0px solid;
    border-bottom:2px solid gray;
}
.register-container input:focus{
    outline: none;
}
.register-container{
    margin-top: 100px;
    height: 60ch;
}
