.googleLogo{
    margin-right: 180px;
    height: 40px;
}
.google-login{
    text-align: center;
    margin-top:100px;
}
.googleBtn{
    color: white;
    background-color: rgb(54, 54, 230);
    border: none;
    width: 400px;
}
.googleBtn:focus{
    outline: none;
}